.dashboard {

    &-buttons a{
        @include button-animation;
    }

    &-experiences {
        margin-top: 2rem;
    }

    .table {
        width: 100%;
    }

    &-delete {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 180px;
        padding: .5rem 0;
        background-color: $danger-color;
        border: none;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 18px 16px -11px rgb(75, 75, 72);
            color: $light-color;
        }
    }
}
@media screen and (max-width: 480px) {
    .navbar {
        display: flex!important;
        flex-direction: column;
        &-logo a {
            font-size: 1.5rem!important;
        }
        ul li {
            margin-right: .5rem!important;
        }
    }
    .dashboard {
        .header-text {
            font-size: 2rem;
            margin-top: 7rem;
            text-align: center;
        }
        width: 100%!important;
        &-buttons {
            display: grid;
            margin: 1rem;
            grid-gap: .5rem;
        }
        &-delete {
            margin: auto;
            margin-bottom: 1rem;
        }
    }
}