.landing {
    position: relative;
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    width: 100%!important;
    
    &-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 100%;
        width: 100%;
        color: $light-color;    

        .buttons {
            margin-top: 2.5rem;
        }
    }
}