.posts {

    .post-btn {
        width: 100px;
        margin-top: 1rem;
        cursor: pointer;
        border: 1px solid $primary-color;

        &:hover {
        color: tomato;
        box-shadow: 0px 18px 16px -11px rgb(89, 89, 86);
        }
    }
    &-section {

        .post {
            display: grid;
            grid-template-columns: 1fr 2fr;
            margin-top: 3rem;
            border: 1px solid rgb(89, 89, 86);
            padding: 1rem 0rem;
            &-image {
                img {
                    width: 200px;
                }
                text-align: center;
            }
            &-details {
                align-self: center;
                button {
                    margin-right: 1rem;
                    margin-top: 2rem;
                    cursor: pointer;
                    border: none;
                }
                .discuss {
                    padding: .5rem;
                    background-color: $primary-color;
                    color: white;
                    border-radius: .5rem;
                }
            }
        }
    }
}